*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: linear-gradient(
        180deg,
        rgba(154,154,154,1) 0%,
        rgba(238,238,238,1) 50%,
        rgba(154,154,154,1) 100%,
    );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 50vh;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
}

.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
}

li{
    padding: 0 20px;
    text-transform: capitalize;
    color: #222222;
    font-size: 18px;
}

li a{
    font-size: 18px;
    color: #222222;
    text-transform: capitalize;
}

.swiper{
    margin-top: 40px;
}

.swiper-slide{
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.2);
    border-radius: 15px;
    height: 420px;
    width: 295px;
    position: relative;
}

.swiper-slide img{
    width: 295px;
    border-radius: 15px;
    height: 420px;
}

.swiper-txt{
    position: absolute;
    padding: 25px;
}

.swiper-txt h3{
    font-size: 20px;
    margin-bottom: 5px;
    color: orangered;
}

.swiper-txt p{
    color: orangered;
}

.desktop{
    text-align: center;
    z-index: 1;
}

.desktop img{
    width: 800px;
}

@media(max-width: 991px){
    .navbar{
        padding: 30px;
    }

    .left{
        display: none;
    }

    .swiper{
        padding: 0 70px;
    }

    .swiper-slide img{
        width: 100%;
    }

    .desktop{
        padding: 30px;
    }

    .desktop img{
        width: 100%;
    }
}